* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid red;
}

.header-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 5px solid pink;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  border: 5px solid green;
}

.container{
  border: 5px solid blue;
}