:root {
  /* Set Variables */

  /* Colour Palette */
  /* Dark Mode Palette */
  --green-accent: #8fff00;
  --pink-accent: #ff4bcf;
  --cyan-accent: #00ffe0;
  --blue: #009aa4;
  --dark-blue: #141648;
  --bg-dark-gradient: linear-gradient(135deg, #141648 0%, #009aa4 100%);

  /* Light Mode Palette */
  --yellow-accent: #fff6a0;
  --bright-pink-accent: #ff688c;
  --pink: #f6b4c7;
  --light-blue: #d1fcff;
  --bg-light-gradient: linear-gradient(135deg,
      #ff688c 0%,
      #f6b4c7 24.48%,
      #d1fcff 97.4%);

  /* Global Colours */
  --white: #fff;
  --black: #000;
  --glow-white: 0 0 10px rgba(255, 255, 255, 0.5);
  --glow-black: 0 0 10px rgba(0, 0, 0, 0.3);
  --transparent-black: #0728404f;

  /* Text and Space Responsive values ref: https://utopia.fyi*/

  --text-smaller: clamp(0.52rem, calc(0.37rem + 0.76vw), 0.96rem);
  --text-small: clamp(0.7rem, calc(0.57rem + 0.63vw), 1.33rem);
  --text-regular: clamp(0.88rem, calc(0.65rem + 1.13vw), 1.86rem);
  --text-large: clamp(1.09rem, calc(0.71rem + 1.91vw), 3.1rem);
  --text-larger: clamp(1.71rem, calc(0.7rem + 5.04vw), 4.75rem);

  --space-3xs: clamp(0.13rem, calc(0.06rem + 0.33vw), 0.31rem);
  --space-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-xs: clamp(0.44rem, calc(0.26rem + 0.87vw), 0.94rem);
  --space-s: clamp(0.56rem, calc(0.32rem + 1.2vw), 1.25rem);
  --space-m: clamp(0.88rem, calc(0.53rem + 1.74vw), 1.88rem);
  --space-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-xl: clamp(1.69rem, calc(0.97rem + 3.59vw), 3.75rem);
  --space-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);
  --space-3xl: clamp(3.38rem, calc(1.94rem + 7.17vw), 7.5rem);
}

* {
  box-sizing: border-box;
}

/* Start reference: 
  *https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-using-custom-properties
*/

body {
  /* Dark Mode Colour Palette */

  /* Special Colours */
  --transparent-bg: #14164856;

  /* Background Gradient */
  --bg-grad: linear-gradient(135deg, #141648 0%, #009aa4 100%);

  /* Accent Colours */
  --accent-0: #8fff00;
  --accent-1: #141648;
  --accent-2: #009aa4;
  --accent-3: #46bbc2;

  /* Text Colours */
  --text-color: #fff;
  --link-color: #8fff00;
  --glow: 0 0 10px rgba(255, 255, 255, 0.5);
  /* text shadow */

  /* Title */
  --title: url(./img/title-dark.png);

  /* Glow of logo at header (links to HTML filter)*/
  --logo-glow: url(./img/back-logo-dark.png);

  /* Section Colours */
  --top-pick-border: #ff4bcf;
  --top-pick-color: linear-gradient(-30deg,
      rgba(70, 187, 194, 0) 28.48%,
      #ff4bcf 91.55%);

  --featured-border: #00ffe0;
  --featured-color: linear-gradient(-30deg,
      rgba(70, 187, 194, 0) 34.82%,
      rgba(0, 255, 224, 0.89) 97.76%);
  --featured-bg: url(./img/featured-dark-bg.png);

  --footer-color: #fff;

  /* Transition to smoothen experience */
  transition: 0.5s;
}

body.light-mode {
  /* Light Mode Colour Palette */

  /* Special Colours */
  --transparent-bg: #d1fcff45;

  /* Background Gradient */
  --bg-grad: linear-gradient(135deg, #ff688c 0%, #f6b4c7 24.48%, #d1fcff 97.4%);

  /* Accent Colours */
  --accent-0: #fff6a0;
  --accent-1: #ff688c;
  --accent-2: #f6b4c7;
  --accent-3: #d1fcff;

  /* Text Colours */
  --text-color: #313a3a;
  --link-color: #ff688c;
  --glow: 0 0 10px #313a3a46;
  /* text shadow */

  /* Title */
  --title: url(./img/title-light.png);

  /* Glow of logo at header (links to HTML filter) */
  --logo-glow: url(./img/back-logo-light.png);

  /* Section Colours */
  --top-pick-border: #8fff00;
  --top-pick-color: linear-gradient(-30deg,
      rgba(234, 173, 194, 0.42) 39.76%,
      #8fff00 91.55%);

  --featured-border: #fff6a0;
  --featured-color: linear-gradient(-30deg,
      rgba(255, 246, 160, 0) 34.82%,
      #fff6a0 97.76%);
  --featured-bg: url(./img/featured-light-bg.png);

  --footer-color: #ff688c;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  height: 100%;
  color: var(--text-color);
  font-size: var(--text-regular);
  background: var(--bg-grad);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

p {
  font-size: var(--text-regular);
  margin: var(--space-s);
}

p::selection {
  color: var(--accent-0);
  background-color: var(--accent-1);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  color: var(--white);
  font-size: var(--text-larger);
  margin: 0;
  text-shadow: var(--glow-white);
}

h2 {
  color: var(--text-color);
  font-size: var(--text-large);
  text-shadow: var(--glow);
}

h3 {
  color: var(--text-color);
  font-size: var(--text-large);
  text-shadow: var(--glow);
}

/* Global CSS Classes */
.profile-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
  margin: 0 auto;
  width: min(100% - 4rem, 70rem);
  height: 100%;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.header-nav {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  padding: var(--space-2xs);
}

nav ul li {
  display: inline;
  padding-left: var(--space-s);
}

nav a {
  color: var(--white);
  font-size: var(--text-regular);
  text-shadow: var(--glow-white);
}

nav a:hover {
  color: var(--accent-0);
}

.back-logo {
  position: fixed;
  top: 0;
  left: 50%;
  content: var(--logo-glow);
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: center;
}

.hero-content img {
  content: var(--title);
  max-width: 100%;
  animation: ease pan;
}


.sub-nav {
  display: flex;
  margin: 0;
  gap: var(--space-xl);
  align-self: flex-end;
  text-align: center;
}

.sub-nav a {
  padding: var(--space-m) var(--space-l);
  border: var(--accent-0) var(--space-3xs) solid;
  border-radius: var(--space-3xl);
  background-color: var(--transparent-bg);
  color: var(--link-color);

  transition: 0.4s ease;
}

.sub-nav a:hover {
  color: var(--black);
  background-color: var(--accent-0);
  transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
  filter: none;
}

.stroke {
  position: absolute;
  width: 5px;
  height: 100% !important;
  background: linear-gradient(180deg,
      #fff 3.05%,
      rgba(143, 255, 0, 0.89) 20.35%,
      rgba(143, 255, 0, 0.89) 76.31%,
      rgb(255, 255, 255) 97.68%);
  border-radius: 0.1rem;
}

#quotes,
#top-anime,
#featured {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  margin-top: var(--space-xl);
}

#quotes {
  gap: var(--space-xl);
}

#top-anime,
#featured {
  gap: var(--space-m);
}

.section-blur {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(80px);
  z-index: -1;
}

.top-anime-grad {
  background: var(--top-pick-color);
}

.featured-grad {
  background: var(--featured-color);
}

/* *QUOTES SECTION */
.quote-content {
  display: flex;
  gap: 2rem;
  border: var(--accent-0) var(--space-3xs) solid;
  padding: var(--space-m);
  border-radius: var(--space-3xl);
  background: var(--transparent-bg);
  align-items: center;
}

.quote-content img {
  max-width: var(--space-3xl);
  max-height: var(--space-3xl);
}

/* *TOP PICKS SECTIONS */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.carousel-wrapper {
  display: flex;
  gap: var(--space-xl);
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--transparent-bg);
  border: var(--top-pick-border) var(--space-3xs) solid;
  border-radius: var(--space-2xl);
}

.carousel-wrapper::after,
.carousel-wrapper::before {
  display: flex;
  content: "";
  position: absolute;
  width: var(--space-3xl);
  height: 100%;
  z-index: 2;
}

.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.carousel {
  display: flex;
  align-items: center;
  width: 90%;
  gap: var(--space-m);
  padding: var(--space-l);
  animation: scroll 60s infinite linear;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 300px;
  overflow: visible;
  transition: 1s;
}

.slide img {
  border-radius: var(--space-xs);
  object-fit: cover;
  aspect-ratio: 2/3;
  height: 100%;
}

.slide-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 var(--space-xs) var(--space-xs);
  padding: var(--space-xs);
  margin: auto 0;
  color: var(--top-pick-border);
  background: #0000008b;
  opacity: 0;
  transition: 0.5s;
}

.slide-text p {
  font-size: var(--text-small);
  margin: 0;
}

.slide:hover {
  z-index: 3;
  transform: scale(1.1);
}

.slide:hover .slide-text {
  opacity: 1;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel:hover .slide:not(:hover) {
  filter: blur(3px) grayscale(1);
}

/* *FEATURED SECTION */
.banner {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 20rem;
  border: var(--featured-border) var(--space-3xs) solid;
  border-radius: 0.5rem;
  color: var(--white);
  text-shadow: var(--glow-white);
}

.banner img:not(.author-content img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0) grayscale(1) brightness(45%);
  transition: 0.5s ease-in-out;
}

.featured-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  gap: var(--space-m);
  font-size: var(--text-large);
  text-align: left;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--space-m);
}

.featured-title p:not(.author-content p) {
  margin: 0;
  transition: 1.5s ease;
}

.author-content {
  font-size: var(--text-small);
  display: flex;
  gap: var(--space-s);
  align-self: flex-end;
  align-items: center;
}

.author-content img {
  max-width: var(--space-xl);
  max-height: var(--space-xl);
}

.author-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.author-text p {
  margin: 0;
}

.banner:hover img:not(.author-content img) {
  filter: blur(3px) grayscale(0) brightness(45%);
}

.banner:hover .featured-title p:not(.author-content p) {
  transform: scale(1.05) translateX(var(--space-m));
}

/* *FOOTER SECTION */

footer,
.footer-title,
.footer-content,
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  color: var(--footer-color);
  gap: var(--space-l);
}

footer p,
footer h4 {
  margin: 0;
}

.footer-title svg {
  fill: var(--footer-color);
  width: 10rem;
}

.footer-content {
  flex-direction: row;
  gap: var(--space-xl);
}

.footer-contact {
  gap: var(--space-m);
}

footer svg {
  fill: var(--white);
  width: var(--space-3xl);
}

.fab,
.far {
  font-size: var(--text-large);
}

/* *ABOUT SECTION */

#about-hero,
#about-intro,
#about-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  border: var(--white) var(--space-3xs) solid;
  border-radius: var(--space-3xl);
  padding: var(--space-l);
  box-shadow: 0 0 10px var(--glow-white);
}

#about-intro {
  color: var(--white);
  gap: var(--space-l);
}

#about-intro p:nth-child(1) {
  max-width: 45%;
  text-align: end;
  align-self: flex-start;
}

#about-intro p:nth-child(2) {
  max-width: 45%;
  align-self: flex-end;
}

#about-members {
  color: var(--text-color);
  gap: var(--space-xl);
}

#about-members .member:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: end;
  align-self: flex-start;
}

#about-members .member:nth-child(even) {
  align-self: flex-end;
}

.member {
  display: flex;
  align-items: center;
  width: 50%;
  background: var(--transparent-bg);
  padding: var(--space-s);
  border-radius: var(--space-xl);
  gap: var(--space-l);
}

.member img {
  border: var(--white) var(--space-3xs) solid;
  box-shadow: 0 0 10px var(--glow-white);
  max-width: var(--space-3xl);
  max-height: 25%;
}

.member-content * {
  margin: auto;
}

.move-line {
  position: absolute;
  align-self: center;
  width: var(--space-2xs);
  top: var(--space-3xl);
  background: linear-gradient(180deg,
      rgba(143, 255, 0, 0.03) 0%,
      rgba(143, 255, 0, 0.77) 76.31%,
      #fff 97.68%);
  z-index: -1;
}

/* *BROWSE SECTION */

#browse-hero,
#browse-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#browse-hero {
  gap: var(--space-3xl);
}

.browse-featured {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-xl);
  justify-content: center;
}

.browse-featured-bg {
  position: absolute;
  display: flex;
  align-self: center;
  height: 100%;
  width: 100%;
  background: var(--featured-bg);
  background-position: center;
  z-index: -1;
}

.browse-featured h3 {
  margin: 0;
}

#browse-box {
  position: relative;
  gap: var(--space-xl);
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

/* Anime HTML page; from "anime.js" */
/* Top anime info*/
#anime-info {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--space-3xl);
  border-radius: var(--space-xs);
  padding: var(--space-l);
  background: var(--transparent-bg);
}

#anime-info p {
  margin: 0;
  line-height: 1.75;
}

#anime-title,
#anime-synopsis {
  display: flex;
}

#anime-title {
  align-items: flex-end;
  gap: var(--space-l);
}

#anime-title h3 {
  margin-top: 0;
}

#anime-synopsis {
  flex-direction: column;
}

.anime-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.anime-text span {
  font-size: var(--text-regular);
}

#anime-title img {
  position: relative;
  width: 100%;
  max-width: 30rem;
  border-radius: var(--space-2xs);
  object-fit: cover;
  aspect-ratio: 3/4;
}

/* Article info */
#article-title,
#article-content {
  display: flex;
  flex-direction: column;

}

#article-title img:not(.article-author img) {
  border-radius: var(--space-2xs);
}

.article-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.article-author {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
  align-items: center;
}

.article-author img {
  max-width: var(--space-2xl);
}

#article-content {
  gap: var(--space-l);
}

#article-content h3 {
  margin: 0;
}

#article-content .article-author {
  align-self: flex-end;
}

.article-summary {
  display: flex;
  flex-direction: column;
  padding: var(--space-l);
  border: var(--accent-0) var(--space-3xs) solid;
  border-radius: var(--space-2xl);
  background: var(--transparent-bg);
}

/* Menu burger */
#menu {
  display: none;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);
}

.burger span {
  display: flex;
  width: var(--space-l);
  height: var(--space-3xs);
  background: var(--white);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  transform-origin: 100%;
}

.menu-nav {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  border-radius: var(--space-2xl) 0 0 var(--space-2xl);
}

.menu-nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  gap: var(--space-2xl);
  align-items: center;
  text-align: right;
  align-self: center;
  width: 100%;
  padding: var(--space-3xl);
  border-radius: var(--space-2xl);
  background: var(--transparent-bg);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  /* make sure burger is still clickable */
  transform: translateY(-10%);
  transition: 0.5s ease-in-out;
}

.menu-nav a {
  color: var(--black);
  border-radius: var(--space-xl);
  padding: var(--space-m);
  background: var(--accent-0);
}

#menu:checked+.menu-nav ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#menu:checked+.menu-nav .burger span:nth-child(1) {
  transform: rotate(-45deg) translate(0px, -1px);
}

#menu:checked+.menu-nav .burger span:nth-child(2) {
  height: 0;
}

#menu:checked+.menu-nav .burger span:nth-child(3) {
  transform: rotate(45deg) translate(0px, 1px);
}

/* Start reference: 
  * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch 
  * https://redstapler.co/pure-css-minimal-dark-mode-toggle-button/
*/

/* Colour mode toggle switch */

#toggle {
  display: none;
}

.toggle-box {
  display: flex;
  position: fixed;
  width: var(--space-xl);
  height: var(--space-3xl);
  background-color: var(--accent-0);
  border-radius: var(--space-l);
  top: 0%;
  left: 0;

  z-index: 100;
}

.toggle-svg {
  position: relative;
  width: var(--space-xl);
  height: var(--space-xl);
  transform: rotate(90deg);

  transition: 1.3s;
}

#toggle:checked+.toggle-box .toggle-svg {
  transform: translateY(100%) rotate(0deg);
}

#toggle:checked+.toggle-box .toggle-svg path {
  fill: var(--accent-1);
}

#toggle:checked+.toggle-box {
  background-color: var(--accent-0);
}

/* End */

/* *media-queries */
@media (max-width: 768px) {

  .back-logo {
    left: 0%;
  }

  .nav-bar {
    flex-direction: column;
    gap: var(--space-s);
    justify-content: center;
  }

  .nav-bar nav {
    display: none;
  }

  .menu-nav {
    display: flex;
  }

  .footer-content {
    flex-direction: unset;
  }

  .member {
    width: 90%;
    gap: var(--space-m);
  }

  #about-members .member:nth-child(odd) img,
  #about-members .member:nth-child(even) img {
    transform: translateX(0%);
  }

  #about-members .member:nth-child(odd) {
    flex-direction: unset;
    align-self: flex-end;
    text-align: left;
  }

  #anime-title {
    flex-direction: column;
    align-items: flex-start;
  }

  #anime-title img {
    max-width: 30rem;
    aspect-ratio: 1/1;
  }
}