:root {
  /* Set Variables */

  /* Colour Palette */
  /* Dark Mode Palette */
  --green-accent: #8fff00;
  --orange-accent: #ff6b00;
  --cyan-accent: #00FFE0;
  --blue: #009aa4;
  --dark-blue: #141648;
  --bg-dark-gradient: linear-gradient(135deg, #141648 0%, #009aa4 100%);

  /* Light Mode Palette */
  --yellow-accent: #fff6a0;
  --bright-pink-accent: #ff688c;
  --pink: #f6b4c7;
  --light-blue: #d1fcff;
  --bg-light-gradient: linear-gradient(135deg,
      #ff688c 0%,
      #f6b4c7 24.48%,
      #d1fcff 97.4%);

  /* Global Colours */
  --white: #fff;
  --black: #000;
  --glow-white: rgba(255, 255, 255, 0.5);
  --glow-black: rgba(0, 0, 0, 0.3);
  --transparent-black: #0728404f;

  /* Text and Space Responsive values ref: https://utopia.fyi*/

  --text-smaller: clamp(0.52rem, calc(0.37rem + 0.76vw), 0.96rem);
  --text-small: clamp(0.7rem, calc(0.57rem + 0.63vw), 1.33rem);
  --text-regular: clamp(0.88rem, calc(0.65rem + 1.13vw), 2rem);
  --text-large: clamp(1.09rem, calc(0.71rem + 1.91vw), 3rem);
  --text-larger: clamp(1.71rem, calc(0.7rem + 5.04vw), 6.75rem);

  --space-3xs: clamp(0.13rem, calc(0.06rem + 0.33vw), 0.31rem);
  --space-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-xs: clamp(0.44rem, calc(0.26rem + 0.87vw), 0.94rem);
  --space-s: clamp(0.56rem, calc(0.32rem + 1.2vw), 1.25rem);
  --space-m: clamp(0.88rem, calc(0.53rem + 1.74vw), 1.88rem);
  --space-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-xl: clamp(1.69rem, calc(0.97rem + 3.59vw), 3.75rem);
  --space-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);
  --space-3xl: clamp(3.38rem, calc(1.94rem + 7.17vw), 7.5rem);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  color: var(--white);
  font-size: var(--text-regular);
  background: var(--bg-dark-gradient);
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

section,
header,
footer {
  border: 2px solid paleturquoise;
}

.page-wrapper {
  margin: 0 auto;
  border: 2px solid red;
  width: min(100% - 4rem, 70rem);
  height: 100% !important;
}

.header-nav {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  display: flex;
  flex-direction: row;
  padding: var(--space-2xs);
}

.nav-toggle nav ul li {
  display: inline;
  padding-left: var(--space-s);
}

#hero svg {
  width: clamp(10%, 50vw, 40%);
  position: fixed;
  padding: var(--space-m);
  top: 0;
  right: var(--space-xl);
  z-index: -1;
  filter: url(#glow-darkmode);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: center;
}

.hero-content img {
  max-width: 100%;
}

.sub-nav {
  align-self: flex-end;
  padding: var(--space-l);
  border: var(--green-accent) var(--space-3xs) solid;
  border-radius: var(--space-3xl);
}

.sub-nav ul {
  display: flex;
  margin: 0;
  gap: var(--space-xl);
  align-items: center;
  text-align: center;
}

.sub-nav ul li {
  display: inline;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}

.stroke {
  position: absolute;
  width: 5px;
  height: 100% !important;
  background: linear-gradient(180deg,
      #fff 3.05%,
      rgba(143, 255, 0, 0.89) 20.35%,
      rgba(143, 255, 0, 0.89) 76.31%,
      rgb(255, 255, 255) 97.68%);
  border-radius: 0.1rem;
}

#quotes,
#top-anime,
#featured {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--space-m);
  align-items: flex-start;
}

.section-blur {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(80px);
  z-index: -1;
}

#top-anime .section-blur {
  background: linear-gradient(-30deg, rgba(70, 187, 194, 0.00) 28.48%, #FF6B00 91.55%);
}

#featured .section-blur {
  background: linear-gradient(-30deg, rgba(70, 187, 194, 0.00) 34.82%, rgba(0, 255, 224, 0.89) 97.76%);
}

/* *QUOTES SECTION */
.quote-content {
  display: flex;
  gap: 2rem;
  border: var(--green-accent) var(--space-3xs) solid;
  padding: var(--space-m);
  border-radius: 10rem;
  background: var(--transparent-black);
  align-items: center;
}

/* QUOTES&FEATURED SHARED */
.quote-content img,
.author-content img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.quote-content img {
  max-width: var(--space-3xl);
  max-height: var(--space-3xl);
}

.author-content img {
  max-width: var(--space-xl);
  max-height: var(--space-xl);
}

/* *TOP PICKS SECTIONS */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.carousel-wrapper {
  display: flex;
  gap: var(--space-xl);
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--transparent-black);
  border: var(--orange-accent) var(--space-3xs) solid;
  border-radius: var(--space-2xl);
}

.carousel-wrapper::after,
.carousel-wrapper::before {
  display: flex;
  content: "";
  position: absolute;
  width: var(--space-3xl);
  height: 100%;
  z-index: 2;
}

.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.carousel {
  display: flex;
  align-items: center;
  width: 90%;
  gap: var(--space-m);
  padding: var(--space-l);
  animation: scroll 60s infinite linear;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 300px;
  overflow: visible;
  transition: 1s;
}

.slide img {
  border-radius: var(--space-xs);
  object-fit: cover;
  aspect-ratio: 2/3;
  height: 100%;
  /* filter: grayscale(1); */
}

.slide-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 var(--space-xs) var(--space-xs);
  padding: var(--space-xs);
  margin: auto 0;
  background: #0000008b;
  opacity: 0;
  transition: 0.5s;
}

.slide-text p {
  font-size: var(--text-small);
  margin: 0;
}

.slide:hover {
  z-index: 3;
  transform: scale(1.1);
}

.slide:hover .slide-text {
  opacity: 1;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel:hover .slide:not(:hover) {
  filter: blur(3px) grayscale(1);
}

/* *FEATURED SECTION */

.banner {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 20rem;
  border: var(--cyan-accent) var(--space-3xs) solid;
  border-radius: 0.5rem;
}

.banner img:not(.author-content img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0) grayscale(1) brightness(45%);
  transition: 0.5s ease-in-out;
}

.article-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  gap: var(--space-m);
  font-size: var(--text-large);
  text-align: left;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--space-m);
}

.article-title p:not(.author-content p) {
  margin: 0;
  transition: 1.5s ease;
}

.author-content {
  font-size: var(--text-small);
  display: flex;
  gap: var(--space-s);
  align-self: flex-end;
  align-items: center;
}

.author-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs)
}

.author-text p {
  margin: 0;
}

.banner:hover img:not(.author-content img) {
  filter: blur(3px) grayscale(0) brightness(45%);
}

.banner:hover .article-title p:not(.author-content p) {
  transform: scale(1.05) translateX(var(--space-m));
}

/* *FOOTER SECTION */

footer,
.footer-title,
.footer-content,
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  gap: var(--space-l);
}

.footer-title svg {
  width: 10rem;
}

.footer-content {
  flex-direction: row;
  gap: var(--space-xl);
}

.footer-contact {
  gap: var(--space-m);
}

footer svg {
  fill: var(--white);
  width: var(--space-xl);
}